.header {
  display: flex;
  column-gap: normal;
  color: oODOC22;
  background-color: #ffffff;
  padding: 0px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 40px;
}
.img-tag {
  margin-left: 180px;
  width: 900px;
  margin-top: 40px;
  border-radius: 20px;
}
.paragraph {
  margin-left: 250px;
  margin-top: 50px;
  font-family: Helvetica;
}
